<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>BluePex</vendor>
  <vendor_url>https://bluepex.com</vendor_url>
  
  <action id="com.bluepex.openvpn">
    <description>Execute OpenVPN for BluePex VPN</description>
    <description xml:lang="pt_BR">Executar OpenVPN para BluePex VPN</description>
    <message>Authentication is required to connect to VPN</message>
    <message xml:lang="pt_BR">Autenticação necessária para conectar à VPN</message>
    <icon_name>network-vpn</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/openvpn</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
